---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '~/lib/utils'

type Props = Omit<HTMLAttributes<'a'>, 'href' | 'class'> & {
  href: string
  class?: string
}

const { href, class: className, ...props }: Props = Astro.props
---

<a {href} class={cn('transition text-muted-foreground/80  hover:text-zinc-900 dark:hover:text-white', className)} {...props}>
  <slot />
</a>
